.Rproj.user
.Rhistory
.RData
.Ruserdata
.renviron
.rprofile
.Rproj
.Rproj.user
.Rhistory
.rapp.history
.o
.sl
.so
.dylib
.a
.dll
.def
.DS_Store
unsrturl.bst
.log
.aux
.backups
.cproject
.directory
.dropbox
.exrc
.gdb.history
.gitattributes
.gitmodules
.hgtags
.project
.seed
.settings
.tm_properties
